@{
    Layout = null;

  

    string userid = ViewBag.userid;
    if (userid=="0")
    {
        userid = "";
    }

    JsApi.DemandShowRooms drs2 = JsApi.Businesslogic.GetDemandShowRooms(userid);

    JsApi.DesignerGrade desinger = JsApi.Businesslogic.GetDesingerGrade(drs2.Extension15);
    
      
    JsApi.Tentent t = JsApi.Businesslogic.GetTentent(userid);
    
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable" />
    	<meta content="telephone=no" name="format-detection" />

    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
    	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=yes">
    	<title>极客美家设计师预约</title>
    	<script src="/HMobile/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/HMobile/js/scroll.js"></script>
		<link href="/HMobile/css/common.css" rel="stylesheet" />
		<link href="/HMobile/css/css.css" rel="stylesheet" />
		<script>

		    if ('@userid') {
               
		        location.href="/app/order";
		    }
		    
		</script>
		<script type="text/javascript">

		   
		    WebSettings webSettings = m_WebView.getSettings(); 
		    webSettings.setSupportZoom(false);
		</script>
		
	<style>
		body,html{margin:0px;width:100%;height:100%;overflow-y:hidden;overflow:hidden;}
		.l_box{display:none;width:80%;min-width:224px;height:270px;border-radius:4px;background:#fff;margin:0 auto;position:absolute;top:50%;margin-top:-135px;left:50%;z-index:16;}
		.l_box img{width:19px;height:19px;position:absolute;top:10px;right:10px;cursor: pointer;}
		.l_box h1{text-align:center;height: 45px;line-height:45px;font-size:16px;color:#333;border-bottom: 1px solid #bcc4cc;margin-bottom:5px;}
		.l_box p{padding-top:20px;text-align: center;}
		.l_box p input{-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);display:inline-block;width:220px;height:34px;text-indent:11px;font-size:14px;color:#bcc4cc;background:none;border-radius: 3px;border:1px solid #ced7e0;}
		.l_box p input.l_code{-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);width:139px;}
		.l_box p a{display:inline-block;width:74px;height:34px;line-height:34px;margin-left:6px;font-size:14px;color:#757a80;background:#f5f5f5;border:1px solid #e0e0e0;border-radius: 3px;}
		.l_oBtn{display: block;width:221px;margin:0 auto;margin-top:25px;height:44px;line-height:44px;border-radius: 21px;background:#fa6567;font-size:16px;color:#fff;}
		.l_box h2{font-size:12px;color:#757a80;text-align: center;padding:15px 0px;font-weight: normal;}
		.l_box h2 span{color:#fa6567;}
	</style>
</head>
<body>
	<!--banner-->
	<div class="scroll">
	<div class="slide_01" id="slide_01">
		<div class="mod_01 "><a ><img src="/HMobile/img/z_ban1.png"></a></div>
		<div class="mod_01"><a><img src="/HMobile/img/z_ban1.png"></a></div>
		<div class="mod_01"><a><img src="/HMobile/img/z_ban2.png"></a></div>
		<div class="mod_01"><a><img src="/HMobile/img/z_ban1.png"></a></div>
	</div>
	<div class="dotModule_new">
		<div id="slide_01_dot"></div>
	</div>
    	<div class="dotModule_new">
		<div id="slide_01_dot"></div>
	</div>
 </div>
 
 <!--定制设计+需求预约+预约量房（单选）-->
	<ul class='z_OrderOpt'>
		<li ><a href="/app/Customized/" class='iline clear'> <div class='o _fl'></div><span class='_fl'>获取装修方案</span></a><div class='t _fr'></div></li>
		<li><a href="/app/demand1" class='iline clear'> <div class='o _fl'></div><span class='_fl'>预约设计师</span> </a><div class='t _fr'></div></li>
		<li><a class='iline clear'> <div class='o _fl'></div><span class='_fl'>快速预约量房</span></a> <div class='t _fr'></div></li>
	</ul>
	<div style='background-color:#f2f2f2;height:10px;width:100%;'></div>
	<!--myOrder-->
	<div id='myOrder' >
		<div class='tit'><a class='iline clear'> <div class='o _fl'></div><span class='_fl'>我的预约   </span></a> <div class='t _fr'></div></div>
		<div class='state'>
			<!--还没有提交需求-->
			<div class="sBox o" style='display:@(userid == "" ? "block" : "none");'>
				<div class="o"><a class="iline"></a></div>
				<div class="t">您还没有提交需求</div>
			</div>

            @if (t.TententId == 0)
            {
                   if (!string.IsNullOrEmpty(userid))
                   {
                       JsApi.DemandShowRooms drs = JsApi.Businesslogic.GetDemandShowRooms(userid);
                 
                 <!--需求提交-->
			<div class="sBox t" style='display:@(drs.Extension15.ToSafeString().Trim().Length == 0 ? "block" : "none");'>
				<div class="o"></div>
				<div class="t">您的需求已提交，正在为您匹配设计师... </div>
			</div>
			<!--设计师匹配-->
                       if ((drs.ProjectId.ToSafeString().Trim() + drs.ProductId.ToSafeString().Trim()).ToSafeString().Trim().Length == 0)
                       {
                     
                 
			<div class="sBox th" style='display:@(drs.Extension15.ToSafeString().Trim().Length == 0 ? "none" : "block");'>
				<span class='iline'></span>
				<div class="o"></div>
				<div class="t">已为您匹配到设计师，方案制作中...</div>
			</div>
                       }
			<!--收到方案-->
			<div class="sBox fo" style='display:@((drs.ProjectId + drs.ProductId).ToSafeString().Trim().Length > 0 ? "block" : "none")'>
				<span class='iline'></span>
				<div class="o"></div>
				<div class="t">方案制作完成，设计师等待预约... </div>
			</div>
			<!--预约成功-->
                 
       
                 
                 
                   } 
            }else
            {
                      
			<div class="sBox fi clear" style='display:block;'>
				<div class="o _fl iline"></div>
				<div  class="t _fl iline">
					<p>您成功预约设计师 <b>@desinger.DID</b></p> 
					<p>预约时间为  <b> @(t.Extension3.ToSafeString().Length==0?(DateTime.Now.AddDays(1).ToString("yy-MM-dd")+"下午"):t.Extension3)</b></p>
				</div>
			</div>
            
            }


         
			


		</div>
	</div>
	
	<div class="l_box">
		 <h1>预约量房 @userid</h1>
		 <img src="/HMobile/images/l_close.png"/>
		 <p><input type="text" value="手机号码" id="phone" /></p>
		 <p><input type="text" value="验证码" id="code"  class="l_code"/><a href="javascript:;" class="z_get" id="getphonecode">获取验证</a></p>
		 <a href="javascript:;" class="l_oBtn" id="btnyy">立即预约</a>
		 <h2>已有<span>@ViewBag.num </span>人预约量房</h2>
	</div>
	<div id="fMask"></div>
</body>
<script type="text/javascript">
    /*var w =document.documentElement.clientWidth;
	var num = $('.mod_01').length;
	var h = $(window).height();*/
    function cc(){
        var h = $(window).height();
        var num = $('.mod_01').length;
        var w =document.documentElement.clientWidth;
        $('.dotModule_new').css('margin-left',-(5*num+2)+'px');
        $('.scroll').css('width',w+'px');
        $('.mod_01').css('width',w+'px');
        $('.mod_01').css('height',(5/16)*w+'px');
        $('.mod_01 img').css('width',w+'px');
        //$('#myOrder .state .sBox.fi').css('margin-left',-0.45*w+'px');
        var s_h=(5/16)*w;
        var state=$('#myOrder .state');
        state.css('height',h-(280+s_h)+'px');
	
        $('.z_OrderOpt li').eq(2).on('click',function(){
            $('.l_box').css('display','block');
            $('#fMask').css('display','block');
        });
	
    }
    cc();
    if(document.getElementById("slide_01")){
        var w =document.documentElement.clientWidth;
        var h = $(window).height();
        var slide_01 = new ScrollPic();
        slide_01.scrollContId   = "slide_01"; //内容容器ID
        slide_01.dotListId      = "slide_01_dot";//点列表ID
        slide_01.dotOnClassName = "selected";
        slide_01.arrLeftId      = "sl_left"; //左箭头ID
        slide_01.arrRightId     = "sl_right";//右箭头ID
        slide_01.frameWidth     = w;
        slide_01.pageWidth      = w;
        slide_01.upright        = false;
        slide_01.speed          = 10;
        slide_01.space          = 30; 
        slide_01.initialize(); //初始化
	
    }
    window.onresize = function() {
        cc();
    }

    //获取图片的宽高比
    function AutoResizeImage(objImg, srcX) {
        var img = new Image();
        img.src = srcX;
        // alert(img.src);
        w1 = img.width;
        h1 = img.height;
        return w1 / h1;
    }
</script>


<script type="text/javascript">
    box();
    window.onresize=function(){
        box();
    }
    var oInput0=$('.l_box p input').eq(0);
    var oInput1=$('.l_box p input').eq(1);
    searchFn(oInput0);
    searchFn(oInput1);
    function box(){
        var boxW = $('.l_box').width();
        $('.l_box').css('margin-left',-boxW/2)
        $('.l_box img').on('click',function(){
            $('.l_box').hide();
            $('#fMask').css('display','none');
        })
    }
    function searchFn(obj) {
        var val = obj.val();
        obj.on('focus', function() {
            if ($(this).val() == val) {
                $(this).val('');
            }
        })
        obj.on('blur', function() {
            if ($(this).val() == '') {
                $(this).val(val);
            }
        })
    }
			



    $(function(){
        $("#btnyy").click(function(){
            var phone=$("#phone").val();
            var code=$("#code").val();

            

            $.post("/app/yy",{phone:phone,code:code,openid:'@ViewBag.openid'},function(d){
                if (d.errorcode=="0") {
                   
                    $.MsgBox.Alert("消息", "预约成功！");
                    $('.l_box').css('display','none');
                    $('#fMask').css('display','none');

                    location.href="/app/index?";
                }else{
                    alert(d.msg);
                }
               

            },'json');
        });

        var flagphone = false;
        $(".z_get").click(function () {
            var phone = $("#phone").val();
         


            if (!/^\d{11}$/g.test(phone)) {
                
                $.MsgBox.Alert("消息", "请输入正确的手机号！");
                return false;
            }


            if (flagphone) {
                //没到时候
                return false;
            }

            flagphone = true;
          

            $.post("/app/SendCode", { phone: phone }, function (data) {
               
                if (data.errorcode=="0") {

             
                } else if (data.errorcode == "1") {
                    $.MsgBox.Alert("消息", data.msg);
                }

                var ii = 60;
                var c = setInterval(function () {
                    $("#getphonecode").html(ii--);
                    if (ii == 0) {
                        clearInterval(c);
                        $("#getphonecode").html("获取验证");
                        flagphone = false;
                    }
                }, 1000);

            },'json');

          
        });


        $("#myOrder").click(function(){
            if ('@userid') {
                location.href="/app/order";
            }else {
             
                $.MsgBox.Alert("消息", "你还没有提交任何需求");
            }
        });
    });
		</script>
</html>