@{
    Layout = null;

    JsApi.LuckDrawUser lu = ViewBag.lu as JsApi.LuckDrawUser;

    int n = JsApi.Businesslogic.GetShareCount(lu.openid);

    int chancecount = JsApi.Businesslogic.GetChanceCount(lu.openid);

    IList<JsApi.WinningRecord> lis = JsApi.Businesslogic.GetWinningRecords();
}


@*<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=yes"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>幸运抽奖</title>
  
</head>
<body>
    <h3 onclick="cj()">你还有 @JsApi.Businesslogic.GetChanceCount(lu.openid) 次抽奖机会</h3>
    @{IList<JsApi.WinningRecord> lis = JsApi.Businesslogic.GetWinningRecords();
        foreach (var item in lis)
	{
		 <h3>@item.Nickname  &nbsp &nbsp @item.Prizename</h3>

	}
        }
</body>
</html>
<script>
    var cj = function () {
        $.post("/app/cj", {openid:'@lu.openid',nickname:'@lu.nickname'}, function (d) {

            alert(d);
        });
    }
</script>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" id="viewport" content="width=device-width,height=device-height,target-densitydpi=medium-dpi,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=no">

    <title>京东家装节</title>
    <link href="/active/css/common.css" rel="stylesheet" />
    <link href="/active/css/active.css?v=23433333" rel="stylesheet" />
    <script src="/HMobile/js/jquery-1.8.3.min.js?@(DateTime.Now.Day.ToString())"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script>
        wx.config({
            debug: false,
            appId: '@ViewBag.appid',
            timestamp: "@ViewBag.timestamp",
            nonceStr: '@ViewBag.nonceStr',
            signature: '@ViewBag.signature',
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']
        });

        wx.ready(function () {


            share("京东家装节，豪礼任性送", "http://mobile.mj100.com/wechart/login6", "http:/mobile.mj100.com/active/img/cj.png", function () {



                $.post("/app/shareok", { openid: '@lu.openid', nickname: '@lu.nickname' }, function (d) {

                    location.reload();

                }, 'json');


            }, function () {



            });

        });

        function share(title, shareurl, imgurl, e, b) {


            wx.onMenuShareTimeline({
                title: title, // 分享标题
                link: shareurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    if (e) {
                        e();
                    }
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    if (b) {
                        b();
                    }
                }
            });


            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: "极客美家携手京东家装节，豪礼“phone”不停", // 分享描述
                link: shareurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                    if (e) {
                        e();
                    }
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    if (b) {
                        b();
                    }
                }
            });

            wx.onMenuShareQQ({
                title: title, // 分享标题
                desc: "极客美家携手京东家装节，豪礼“phone”不停", // 分享描述
                link: shareurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    if (e) {
                        e();
                    }
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    if (b) {
                        b();
                    }
                }
            });


            wx.onMenuShareWeibo({
                title: title, // 分享标题
                desc: "极客美家携手京东家装节，豪礼“phone”不停", // 分享描述
                link: shareurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    if (e) {
                        e();
                    }
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    if (b) {
                        b();
                    }
                }
            });


        }


    </script>
    <script type="text/javascript" src="/active/js/awardRotate.js"></script>
    <script src='/active/js/scroll.js'></script>

    <script type="text/javascript">

        var ccount_dp =@(chancecount)

        $(function () {

            var rotateTimeOut = function () {
                $('#rotate').rotate({
                    angle: 0,
                    animateTo: 2160,
                    duration: 8000,
                    callback: function () {
                        alert('网络超时，请检查您的网络设置！');
                    }
                });
            };


            var bRotate = false;

            var rotateFn = function (awards, angles, txt) {
                bRotate = !bRotate;
                $('#rotate').stopRotate();
                $('#rotate').rotate({
                    angle: 0,
                    animateTo: angles + 1800,
                    duration: 8000,
                    callback: function () {
                        var href = "";
                        if (txt == "500元家装代金券") {
                            $(".d3").show();
                        }
                        if (txt == "2元现金红包") {
                            $(".d2").show();
                        }
                        if (txt == "10元现金红包") {
                            $(".d1").show();
                        }

                        ccount_dp -= 1;
                        $('#fMask').show();
                        $("#ccount_dp").html(ccount_dp);



                        $(".table1").append("<ul><li class='ellipsis'>@lu.nickname</li><li>获得</li><li class='ellipsis'>" + txt + "</li></ul>");
                        bRotate = !bRotate;
                    }
                })
            };

            $('.pointer').click(function () {

                @{
                    TimeSpan s = DateTime.Now - Convert.ToDateTime("2015/10/7");
                    double d = s.TotalDays;
                 }

                if (parseFloat('@d')>0) {
                    $.MsgBox.Alert("提示", "活动已结束");
                    return;
                }
                if ('@lu.subscribe' == '0') {

                    $('#fMask').show();
                    $('.l_follow').show();

                    return;
                }

                if (ccount_dp == 0) {


                    $.MsgBox.Alert("提示", "您的抽奖机会已用完");
                    return;
                }

                if (bRotate) return;

                $.ajax({

                    type: "post",

                    url: "/app/Cj",

                    cache: false,
                    data: { openid: '@lu.openid', nickname: '@lu.nickname' },
		                async: false,

		                dataType: 'text',

		                success: function (d) {

		                    if (d=="-1") {
		                        rotateTimeOut();
		                        return false;
		                    }

		                    var item = parseInt(d);




		                    switch (item) {
		                        case 0:
		                            //var angle = [26, 88, 137, 185, 235, 287, 337];
		                            rotateFn(0, 337, '2元现金红包');
		                            break;
		                        case 1:
		                            //var angle = [88, 137, 185, 235, 287];
		                            rotateFn(1, 51, '500元家装代金券');
		                            break;
		                        case 2:
		                            //var angle = [137, 185, 235, 287];
		                            rotateFn(3, 153, '10元现金红包');
		                            break;
		                        case 3:
		                            //var angle = [137, 185, 235, 287];
		                            rotateFn(2, 102, 'iPhone6');
		                            break;
		                        case 4:
		                            //var angle = [185, 235, 287];
		                            rotateFn(4, 204, '100元京东卡');
		                            break;
		                        case 5:
		                            //var angle = [185, 235, 287];
		                            rotateFn(5, 204, '100元京东卡');
		                            break;
		                        case 6:
		                            //var angle = [235, 287];
		                            rotateFn(6, 256, 'iWatch');
		                            break;
		                    }

		                },

		                error: function () {
		                    rotateTimeOut();
		                }
		            });




            });
        });
            function rnd(n, m) {
                return Math.floor(Math.random() * (m - n + 1) + n)
            }
            //获奖滚动
            $(document).ready(function () {
                $('.announce ul:even').addClass('lieven');
            })
            $(function () {
                $(".announce").myScroll({
                    speed: 70, //数值越大，速度越慢
                    rowHeight: parseInt('@lis.Count') * 26 //li的高度
                });
            });
		</script>
</head>

<body>
    <div class="l_container">
        <img src="/active/img/turntable-bg.png" />
        <div class="l_header">
            <span></span><b></b>
        </div>
        <div class="turntable-bg">
            <div class="rotate">
                <img id="rotate" src="/active/img/turntable.png" alt="turntable" />
            </div>
            <div class="pointer">
                <img src="/active/img/pointer.png" alt="pointer" class="l_pointer" />
            </div>
        </div>
        <div class="l_num"><i id="ccount_dp">@chancecount</i></div>
    </div>
    <div class="l_tip">
        <div class="l_btn">


            @{
                   

                if (n == 0)
                {
                <a href="javascript:;">获得2次抽奖机会</a>
                }
                else if (n == 1)
                {
                <a href="javascript:;">获得1次抽奖机会</a>
                }
                else
                {
                <a style="display:none" href="javascript:;">还要？9月1日再来</a> 
                }
                    
 }
        </div>
        <div class='announce'>
            <div class='z_tit'>
                <img src="/active/img/z_info.png" alt="" />
            </div>
            <div class='list'>
                <div class='table1'>

                    @{
                       
                      

                     
                        
                        

                        int R = new Random().Next(3, 10);
                        for (int i = 0; i < lis.Count; i++)
                        {
                            if (i == R)
                            {
                        <ul>
                            <li class='ellipsis'>TonyFn@生孩子</li>
                            <li>获得</li>
                            <li class='ellipsis'>iWatch</li>
                        </ul>
                            }

                            if (lis[i].Nickname.ToSafeString().Trim().Length>0)
                            {
                                 <ul>
                            <li class='ellipsis'>@(lis[i].Nickname.ToSafeString().Length==0?"&nbsp;&nbsp;&nbsp;&nbsp;":lis[i].Nickname)</li>
                            <li>获得</li>
                            <li class='ellipsis'>@lis[i].Prizename</li>
                        </ul>
                            }
                                                     
                       
                        }
 }


                </div>
            </div>
        </div>

        <div class="l_help">
            <div class="l_img">
                <img src="/active/img/tip.png" />
            </div>
            <dl>
                <dt>如何抽奖</dt>
                <dd>新用户关注“极客美家”服务号后，点击“抽奖”即可参与活动。</dd>
            </dl>
            <dl>
                <dt>如何续抽</dt>
                <dd>分享活动一次，多获得两次抽奖机会；分享活动第二次，再获得一次抽奖机会。</dd>
            </dl>
            <dl>
                <dt>如何使用代金券</dt>
                <dd class="l_noBorder">获奖者可在与极客美家签约的工程中使用代金券抵免500元。</dd>
            </dl>
        </div>
        <div class="l_rule">
            <h2>活动规则</h2>
            <ol>
                <li>用户在8月24日-10月7日活动期间，首次进入活动页面可获得一次抽奖机会。</li>
                <li>分享本活动一次可多获得两个抽奖资格，分享第二次可多获得一个抽奖资格。多次分享则不会再获额外抽奖资格。</li>
                <li>获得的现金红包会在24小时内转入获奖者的微信钱包。</li>
                <li>若获得代金券、京东卡、iwatch或iphone6（颜色随机），请获奖者主动与“极客美家”微信服务号客服联系，小美会在第一时间回复您。</li>
                <li>每一个施工工地限使用一张代金券。</li>
                <li>代金券仅限北京、天津、贵阳使用，使用期限截至2015年12月31日，且本次活动所获代金券不得与其他优惠活动重叠使用。</li>
                <li>参与本活动需关注“极客美家”微信服务号，且仅限微信端用户参与。</li>
                <li>本次活动由极客美家全权举办，最终解释权归京东家居家装和极客美家所有。</li>
            </ol>
        </div>
        <div class="l_no">
            <img src="/active/img/no.png" />
        </div>
        <div class="l_copy">
            <img src="/active/img/copy.png" />
        </div>
    </div>
    <!--遮罩-->
    <div id="fMask"></div>

    <div class="l_share one">
        <img src="/active/img/share.png" />
        <p>2次抽大奖机会拿到手</p>
        <a href="javascript:;" class="l_know">
            <img src="/active/img/know.png" /></a>
    </div>

    @* <div class="l_share two">
        <img src="/active/img/follow.png" />
        <a href="javascript:;" class="l_know">
            <img src="/active/img/know.png" /></a>
    </div>*@
    <div class="l_follow" style="display: none">
        <img src="/active/img/code.png" />
    </div>
    <!--中奖弹窗-->
    <div class="l_ten d1">
        <img src="/active/img/10.png" />
        <div class="l_txt">
            <h5>酷！分享活动再来一发吧！</h5>
            <p>奖品获得方式请参考活动规则！</p>
        </div>
        <a href="javascript:;">知道啦</a>
    </div>
    <div class="l_ten d2">
        <img src="/active/img/2.png" />
        <div class="l_txt">
            <h5>酷！分享活动再来一发吧！</h5>
            <p>奖品获得方式请参考活动规则！</p>
        </div>
        <a href="javascript:;">知道啦</a>
    </div>
    <div class="l_ten d3">
        <img src="/active/img/500.png" />
        <div class="l_txt">
            <h5>手气不要太好哦~~</h5>
            <p>奖品获得方式请参考活动规则！</p>
        </div>
        <a href="javascript:;">知道啦</a>
    </div>
</body>

</html>
<script>
    $(function () {
        $(".l_ten a").click(function () {

            $(".l_ten").hide();
            $('#fMask').hide();
            location.reload();
        });
        $(function () {
            $('.l_btn a').on('click', function () {
                if ('@lu.subscribe' == '0') {

                    $('#fMask').show();
                    $('.l_follow').show();

                    return;
                }


                if ('@n' == 0) {
                    $('#fMask').show();
                    $('.one').show();
                } else if ('@n' == 1) {
                    $('#fMask').show();
                    $('.one').show().find("p").html('1次抽大奖机会拿到手');
                } else {
                    $('#fMask').show();
                    $('.one').show().find("p").html('');
                }
            })


            $('.l_know').on('click', function () {
                $('#fMask').hide();
                $('.l_share').hide();

            })

        })
    });
</script>
